
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/admin/adminLoggedIn" method="post">
					<br>
					</br>
					<br>
					</br>
					<label for="chk" aria-hidden="true" style="color:#fff" >Admin Log</label>
					{{!-- <input type="text" name="txt" placeholder="User name" required=""> --}}
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					
					<button>Log In</button>
				{{#if logginError}}
					<p style="color:#f50404 ; text-align: center;">Invalid email or password</p>
					{{/if}}
				</form>
			</div>
			
	</div>
