 <head>
<!--===============================================================================================-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/user-styles/main.css">
<!--===============================================================================================-->
</head>
<style>
	@media(min-width:320px){
		.main{
			margin-bottom: 50px;
		}
	}
</style>
<header class="main">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						{{!-- Free shipping for standard order over $100 --}}
					</div>

					<div class="right-top-bar flex-w h-full">
						{{!-- <a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a> --}}
						{{#if login}}
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>

						<a href="/logout" class="flex-c-m trans-04 p-lr-25">
							Log Out
						</a>
						{{else}}
						{{!-- <a href="#" class="flex-c-m trans-04 p-lr-25">
							Sign Up
						</a> --}}
						<a href="/signIn" class="flex-c-m trans-04 p-lr-25">
							Sign In
						</a>
						{{/if}}
						{{!-- <a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a> --}}
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="/" class="logo">
						<img src="/images/stanza logo1.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="/" class="nav-text" style="color: rgb(77, 174, 216);">Home</a>
								{{!-- <ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul> --}}
							</li>

							<li>
								<a href="/" style="color: rgb(77, 174, 216);">Shop</a>
							</li>

							{{!-- <li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Features</a>
							</li>

							<li>
								<a href="blog.html">Blog</a>
							</li>

							<li>
								<a href="about.html">About</a>
							</li> --}}

							<li>
								<a href="#" style="color: rgb(77, 174, 216);">Contact</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div style="color: rgb(77, 174, 216);" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>
						{{#if login}}
				<div onload="count()"class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" style="color: rgb(77, 174, 216);" data-notify="">
					<a href="/goToCart"><i class="zmdi zmdi-shopping-cart"></i></a>
					<span  id="checkout_items"></span>
				</div>
						<a href="/wishlist" style="color: rgb(37, 127, 163);" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
						{{/if}}
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="photos/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>
				{{#if login}}
				<div onload="count()" class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"  data-notify="">
					<i class="zmdi zmdi-shopping-cart"></i>
					<span  id="checkout_items"></span>
				</div>
				{{else}}
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>
				{{/if}}

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			{{!-- <ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							USD
						</a>
					</div>
				</li>
			</ul> --}}

			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					<ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="product.html">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="photos/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',count);
    function count(){
            axios({
              method: "get",
              url: "/count"
              })
              .then(function (response) {
                //handle success
                if(response.data === 0){
                  document.getElementById('checkout_items').innerHTML = ''
                }else{
                  document.getElementById('checkout_items').innerHTML = response.data
                }
              })
              .catch(function (response) { 
                //handle error
                console.log(response)
            });
    }
  </script>
 
 <head>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/single_responsive.css">

{{!-- <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css"> --}}
<link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
{{!-- <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css"> --}}
{{!-- <link rel="stylesheet" href="public/stylesheets/style.css" type="text/css"> --}}
<link rel='stylesheet' href='/stylesheets/style.css' />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
      <style>
    @media (max-width:576px){
      .main{
        margin-top: 110px;
        padding: 0;
      }
    }
     @media (min-width:577px){
      .main{
        margin-top: 160px;
        padding: 0;
      }
    }
  </style>
  </head>
    <style>
      body {
        text-align: center;
        
        background: #ffffff;
      }
        h1 {
          color: #00a995;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      .checkmark {
        color: #00a995;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 3px #ffffff;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
        <div style="min-height: 100vh;" class="main p-3">
      {{!-- <div class="card"> --}}
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
        <div>
            <a href="/view-orders" class="mt-3 button btn btn-dark btn-sm text-white" style="text-transform: capitalize;">view orders</a>
            <a href="/" class="mt-3 button btn btn-dark btn-sm text-white" style="text-transform: capitalize;">continue shopping</a>
        </div>
      {{!-- </div> --}}
      </div>
    </body>